<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=100%" />
  <title>Erply-test-task</title>
  <link rel="stylesheet" href="static/style.css" />
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

</head>

<body>
  <h1>Erply-test-task</h1>
  <form action="/admin/logout" method="post">
    <button type="submit">Logout</button>
  </form>
  <h2>Logged In!</h2>
    

</body>

</html>